{:builds
 {:app {:asset-path "/js"
        :modules {:main {:init-fn app.core/main}}
        :output-dir "public/js"
        :target :browser
        :devtools {}}
  :workshop {:asset-path "/js"
             :modules {:main {:init-fn workshop.core/main}}
             :output-dir "public/js"
             :target :browser
             :devtools {}}
  :cards {:asset-path "/js"
          :modules {:main {:init-fn app.cards/main}}
          :compiler-options {:devcards true}
          :output-dir "public/js"
          :target :browser}
  :tests {:target :browser-test
          :test-dir "public/js/test"
          :devtools {:http-port 8021
                     :http-root "public/js/test"}}
  :test-cards {:ns-regexp "app.cards"
               :output-to "out/test.js"
               :target :node-test}
  :e2e {:ns-regexp "e2e.*"
        :output-to "out/e2e.js"
        :target :node-test}}
 :deps true
 :dev-http {3000 "public"}
 :nrepl {:port 3333}}